:root {
    --primary-color: #0076ff;
    --background-color: rgb(255, 255, 255);
    --background-accent: #fdfcfc;
    --fade-text-color: #4d4d4d;
    --border-color: #7c7c7c;
    --icon-color: black;
}
