.CategoryView {
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    background-color: var(--background-accent);
    position: relative;
    border: 1px solid var(--border-color);
}

.headingButton {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border: none;
}

.headingButton > h4 {
    margin: 5px 0;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;

    border-top: 10px solid var(--icon-color);
    transition: transform 0.4s;
}

.arrow.active {
    transform: rotate(180deg);
}

.expandedView {
    border-top: 1px solid var(--border-color);
}

@media screen and (max-width: 768px) {
    .CategoryView {
        border-radius: 5px;
        margin: 10px;
    }

    .headingButton {
        padding: 0 10px;
    }
}
