.PlanInfo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 10px 20px;
}

.PlanInfo > h2 {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .PlanInfo {
        padding: 5px 10px;
    }
}
