.PlanView {
    max-width: 800px;
    margin: 20px;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .PlanView {
        border-radius: 10px;
        margin: 10px;
    }
}
