.NoteList {
    padding: 10px;
}

.NoteList > div {
    position: relative;
    padding: 5px 5px;
}

.NoteList > div:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
}

.date {
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: var(--fade-text-color);
}

@media screen and (max-width: 768px) {
    .NoteList {
        padding: 5px;
    }

    .NoteList > div {
        padding: 3px 3px;
    }
}
